<nav class="navbar fixed-top bg-white">
  <a class="navbar-brand" href="/"><img src="/images/logo_3.png" style="height:46px"></a>
</nav>
<nav class="navbar fixed-top-2 bg-green">
	<a class="nav-link" href="/">Houses</a>
	<a class="nav-link" href="/reservations">My Reservations</a>
	<a class="nav-link" href="#">My Wallet</a>
</nav>
