<!DOCTYPE html>
<html>
  <head>
    <title>Whisper Desktop Demo</title>
	  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">

  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel='stylesheet' href='/stylesheets/style.css' />

    <style type="text/css">

    </style>
 	</head>

  <body class="bg-grey">
  	<%- include('nav') -%>

	<div class="main">
		<div class="house_listing">

			<div class="card" id="card2" style="">
				<div class="row card_content">
					<div class="col-sm-5 img"></div>
					<div class="col-sm-7">
						<div class="txt_section">
					    <h5 class="card-title">Demo House 1</h5>
<!-- 							<div class="row">
								<div class="col"><img src="/images/Smart-Door-Lock.jpg" style="width:100%"></div>
								<div class="col"> -->
							    <div class="txt_item">
										<div class="title">Device</div>
										<div>Front Door Lock</div>				
									</div>

							<div class='buttons' style="margin-top:30px">
						    <button id="open" class="btn btn-okdk bg-blue txt-white">OPEN</button>
						    <button id="close" class="btn btn-okdk bg-blue txt-white">CLOSE</button>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

		<script src="https://code.jquery.com/jquery-3.2.1.min.js"
		  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		  crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


			<script type="text/javascript">

				$("#open").click(() => {
					var data = {};
					// data.symKeyId = $('#symKeyId').text();

					$.ajax({
						type:'POST',
						data: data,
						// contentType: 'application/json',
						url: 'http://localhost:3000/open',
						success: (data) => {
							// console.log('Reservation Id: ' + data);
							console.log("whisper post 'open' success: " + data)
							// $('#open').show();
							// $('#rent').hide();
						},
						error: () => {
							console.log("whisper post 'open' err");
						}
					});
				});


				$("#close").click(() => {
					var data = {};
					// data.symKeyId = $('#symKeyId').text();

					$.ajax({
						type:'POST',
						data: data,
						// contentType: 'application/json',
						url: 'http://localhost:3000/close',
						success: (data) => {
							// console.log('Reservation Id: ' + data);
							console.log("whisper post 'close' success: " + data)
							// $('#open').show();
							// $('#rent').hide();
						},
						error: () => {
							console.log("whisper post 'close' err");
						}
					});
				});

			</script>

  </body>
</html>